fastapi==0.115.8
gunicorn==23.0.0
uvicorn[standard]==0.34.0
pydantic==2.10.6
python-multipart==0.0.20
python-dotenv==1.0.1
psycopg[binary]==3.2.6
pandas==2.2.3
openpyxl==3.1.5
requests==2.32.3
PyPDF2==3.0.1
boto3==1.37.12
keyring==25.6.0
selenium==4.29.0
